.App {
  text-align: left;
  font-size: 16px;
}

header {
  display: flex;
}

.container {
  width: 85%;
}

.wrapper {
  margin: auto;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
}

.combined-boxes {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: flex-end;
}
.slide-card {
  background: #772A79;
  color: white;
  .slide-image {
    // height: 700px;
    overflow: hidden;
  }
  .slide-content {
    align-self: center;
    padding: 5%;
  }
}

.main-navigation {
  text-align: center;
  // padding: 3px;
  margin: 0 15px;
  border-bottom: 5px solid rgb(216, 0, 83);
}

.main-navigation:hover {
  border-bottom: 0.5px solid rgb(255, 255, 255);
}

button {
  all: unset;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px
}

h2 {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: white;
}

p {
  line-height: 1.4;
  font-weight: 300;
}

.flex-box {
  display: flex;
  flex-flow: row wrap;
}

.top-section {
  padding: 0px;
}

section {
  padding: 3% 8%;
  .section-heading {
    justify-content: space-between;
    margin: 0 auto 50px auto;
  }
  .banner-image {
    background: lightgrey;
    margin-bottom: -50px;
    // height: 500px;
    overflow: hidden;
  }
  .page-intro {
    color: white;
    width: 85%;
    position: relative;
    padding: 80px;
    margin: auto;
    mix-blend-mode: multiply;
    background: linear-gradient(201.84deg, #B443CC 0%, #662AAF 73.19%);
  }
  .page-intro-content {
    padding-left: 20px;
    border-left: 8px solid #d80053;
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .team-profiles {
    width: 90%;
    justify-content: center;
  }  
}

#culture-of-error {
  // height: 550px;
}
#quote {
  width: 80%;
  margin: 60px auto;
  text-align: center;
  font-style: italic;
}

#problem-section {
  margin: auto;
  width: 90%;
  // justify-content: space-around;
}

#intro-to-team {
  padding: 8%;
  align-items: center;
  background: linear-gradient(
    180deg, rgba(102, 42, 175, 0.495) -20%, #FFFFFF 90%,
    );
    button {
      border-radius: 12px;
      border-style: none;
    }
    
    .meet-team {
      margin-top: 5%;
      width: max-content;
      padding: 20px;
      background: #662AAF;
    }
    
    .bottom-link {
      margin-top: 50px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
}
.advisor {
  width: 98%;
  margin: auto;
}
#advisors {
  background-color: rgb(120, 43, 122);
  color: white;
}

#our-values {
  padding: 10%;
  color: white;
  background: linear-gradient(206.37deg, #FF3369 0%, #662AAF 73.19%);
}


.page-header { 
  background-blend-mode: multiply;
  background: top / cover no-repeat url(./images/header-background-short.png);
  // background: #322759;
  // height: 690px;
  padding: 10%;
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.product-features {
  justify-content: space-evenly;
  background-color:  rgb(50, 40, 89);
  background-size: cover;
  color: white;
}

#features {
  background: linear-gradient(221.31deg, #FF3369 0%, #662AAF 73.19%);
}

.sub-headline {
  margin: 15px 0px;
  text-align: right; 
  font-style: italic;
}

.problem-card {
  align-self: center;
  padding: 5% 3%;
  margin-left: -50px;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.35);
  background-color: white;
  }

.feature-title {
  width: 220px;
  margin-bottom: 10px;
  font-size: 0.9em;
}

.feature-description {
  margin-top: 20px;
  text-align: center;
}

// .isolate {
//   isolation: isolate;
// }

.profile-card {
  width: 330px;
  border: 10px solid white;
  margin: auto 10px;
  padding-right: 0em !important;
  padding-bottom: 0em !important;
  color: white;
  background: linear-gradient(240.12deg, #B443CC 10.99%, #662AAF 50.9%), #B443CC;
  mix-blend-mode: multiply;

  // .dark {
  //   width: 280px;
  //   height: 300px;
  //   background: linear-gradient(240.12deg, #B443CC 10.99%, #662AAF 50.9%), #B443CC;
  //   mix-blend-mode: multiply;
  // }

  .title {
    // width: 100%;
    margin-bottom: 10px;
  } 
  .job-title {
    display: flex;
    align-items: center;
    color:white;
    background-blend-mode: multiply;
    background: rgba(39, 2, 48, 0.377);
    height: 55px;
    padding: 10px 35px;
  }
}

.profile-photo {
  width: 290px;
  height: 290px;
  margin-bottom: -20px;
}

.profile-photo-advisors {
  margin: 10px 5px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid rgb(202, 45, 104);
}

.feature-items {
  margin: 20px auto;
  width: 250px;
  #feature-graphic {
    height: 300px;
  }
}

.half-circle {
    padding: 2%; 
    margin-top: -3.6% !important; 
    // height: 100px;
    width: 70%;
    border-bottom-right-radius: 800px;
    border-bottom-left-radius: 800px;
    border: 15px solid rgb(255, 51, 218);
    border-top: 0;
    // border-style: ;
}

.card {
  padding: 1.4em;
  margin: 18px 0;
  .card-image {
    align-self: center;
    // width: 50%;
    // height: 300px;
    // object-fit: fill;
  }
  .card-content {
    align-self: center;
    // width: 50%;
    padding: 15px;
  }
}
.why-righton-card{
  padding: 0;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.35);
  background: white;
}
.single-advisor-profile {
  margin-top: 15px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 300px;
}
footer {
  // margin-top: -120px;
  // position: relative;
  background: top / cover no-repeat url(./images/footer-background-short.png);
  align-items: center;
  padding: 3% 8%;
  height: 550px;
  background-color:  rgb(50, 40, 89);
  color: white;
  .footer-logo {
    // margin: 10px;
    width: 300px;
  }
  .footer-msg {
    // margin: 10px;
  }
  .copyright-msg {
    text-align: right;
    // margin: 15px 0;
    // font-size: 1em;
    color: lightslategray;
  }
  .email-us:hover {
    text-decoration: underline;
  }
}

.divider {
  align-self: center;
  align-items: center;
  background: #FF3369;;
  height: 10px;
  width: 35%;
}

// // Minimum desktop resolution
@media only screen and (min-width: 1440px) {
  section {
    .banner-image {
      // height: 50vh;
    }
    .team-profiles {
      // width: 100%;
    }
  }

  h1{
    font-size: 1.5em;
  }

  h2 {
      font-size: 1.2em;
  }

  .product-features {
    flex-flow: row wrap;
  }

  .product-msg {
    margin: 10px;
  }
  .problem-description {
    font-size: 1em;
  }
  .one-col-box {
    width: 100%;
  }
  .about {
    padding: 20px;
  }
  .why-righton-card {
    padding: 10px;
    box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.35);
    background: white;
  }
  p {
    // font-size: 0.85em;
    line-height: 1.4;
  }

  .list-description {
    font-size: 0.85em;
  }

  .footer {
    flex-direction: column-reverse;
    text-align: center;
    padding: 10px
  }

  .footer-msg {
    font-size: 0.95em;
  }

  .copyright-msg {
    font-size: 0.75em;
    color: lightslategray;
  }
  .combined-boxes {
    align-items: center;
  }
}


// //Minimum tablet screen resolution 
@media only screen and (min-width: 1024px) {
  .problem-card {
    margin-left: unset;
  }
  .combined-boxes {
    align-items: center;
  }
  section .banner-image {
    // height: 20vh;
    .page-intro {
      width: 85%;
      height: 350px;
      position: relative;
      padding: 80px;
      margin: auto;
      mix-blend-mode: multiply;
      background: linear-gradient(201.84deg, #B443CC 0%, #662AAF 73.19%);
    }
    .page-intro-content {
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  } 
  .card {
    // width: 80%;
    .card-image {
      height: unset;
    }
  }
  #features {
    height: unset;
  }
}


// /* Max mobile screen resolution*/
@media (min-width: 720px) {
  nav{
    h2 {
      font-size: 1em;
    }
  }
  .combined-boxes {
    align-items: center;
  }
  #features {
    height: unset;
  }
  section .banner-image {
    // height: 35vh;
    .page-intro {
      width: 85%;
      height: 350px;
      position: relative;
      padding: 80px;
      margin: auto;
      mix-blend-mode: multiply;
      background: linear-gradient(201.84deg, #B443CC 0%, #662AAF 73.19%);
    }
    .page-intro-content {
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  } 


  .sub-headline {
    margin: 45px 0px;
    text-align: right; 
    font-style: italic;
  }
  h1 {
    font-size: 1.5em;
    // text-align: center;
  }

  .mission-section {
    flex-flow: row wrap;
    flex-direction: column-reverse;
  }

  .mission-card {
    margin: -20px auto 20px auto;
    width: 100%;
    height: auto;
  }

  .problem-card {
    margin: auto;
    width: 100%;
  }
}

@media (max-width: 375px) {
  section .banner-image {
    height: unset;
  }
  h1 {
    font-size: 0.8em;
  }
  .combined-boxes {
    align-items: center;
  }
}