.App {
  text-align: left;
}

// .App-logo {
//   height: 180px;
// }

// .App-header {
//   background-color: #222;
//   height: 150px;
//   padding: 20px;
//   color: white;
// }

// .App-title {
//   font-size: 1.5em;
// }

// .App-intro {
//   font-size: large;
// }

header {
  display: flex;
  place-content: flex-end;
}

.container {
  width: 85%;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
}

.logo {
  width: 650px;
}

.combined-boxes {
  display: flex;
  flex-flow: column-reverse;
  justify-content: space-evenly;
}
.mission-card
.product-image {
  width: 500px;
}

.main-navigation {
  text-align: center;
  padding: 3px;
  margin: 0 15px;
  border-bottom: 5px solid rgb(216, 0, 83);
}

.main-navigation:hover {
  border-bottom: 0.5px solid rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: white;
}

p {
  font-size: 0.85em;
  line-height: 1.4;
  font-weight: 300;
}

.list-description {
  font-size: 1em;
  line-height: 1.4;
  font-weight: 300;
}

h1 {
  font-size:2em;
}

h2, h3 {
  margin-bottom: 15px;
}

.h2-light {
  font-weight: 300;
  margin-bottom: 10px;
}

h3 {
  font-weight: 300;
  line-height: 1.3;
}

h6 {
  text-align: center;
}

.flex-box {
  display: flex;
  flex-flow: row wrap;
}

section {
  padding: 120px;
}

.segment-image {
  width: 375px;
}

.section-intro {
  /* width: 400px; */
  margin: 10px 0;
}

.page-header {
  width: 100%;
  background:top/ cover no-repeat url(./images/header-background.svg);
  // height: 1024px;
  padding: 10%;
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.product-features {
  justify-content: space-evenly;
  background-color:  rgb(50, 40, 89);
  background-size: cover;
  color: white;
}

.sub-headline {
  text-align: right; 
  font-style: italic;
}

.problem {
  margin: auto;
}

.problem-card {
  display: flex;
  flex-direction: column;
  //  justify-content: center;
  //  align-items: center;
  width: 65%;
 position: relative;
 padding: 20px;
 margin: 10px auto 10px -50px;
 box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.35);
 background-color: white;
}

.feature-title {
  width: 220px;
  margin-bottom: 10px;
  font-size: 0.9em;
}

.feature-description {
  margin-top: 20px;
  text-align: center;
}

.profile-photo {
  margin: 10px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid rgb(202, 45, 104);
}

.profile-photo-advisors {
  margin: 10px 5px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid rgb(202, 45, 104);
}

.feature-images {
  margin: 10px auto;
  width: 200px;
  height: 200px;
  /* border: 1px solid white; */
}

.card-wrapper{
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 95%;
  margin: 30px auto;
  padding: 30px 50px;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.35);
  background: white;
}

.card-wrapper-normal{
  /* border: 1px dashed lightgray; */
  width: 75%;
  margin: auto;
}

.patterned-background {
  background-image: url(./images/math-patterns-bk.svg);
}

.about-icons {
  width: 20px;
  margin-right: 5px;
}

.mission-card {
  background-blend-mode: multiply;
  // z-index: 1;
  position: relative;
  width: 85%;
  height: 350px;
  padding: 30px;
  margin: auto;
  background: linear-gradient(201.84deg, #B443CC 0%, #662AAF 73.19%);
}
.mission-content {
  // z-index: 2;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mission-image {
  margin-bottom: -100px;
  height: 70vh;
  overflow: hidden;
}

.mission-section {
  padding: 0px;
}

.why-righton-wrapper {
  /* border: 1px dashed lightgray; */
  margin: 18px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.why-righton-list {
  /* border: 1px dashed lightgray; */
  color: rgb(57, 64, 143);
  line-height: 1.3;
  margin: 20px;
  width: 70%;
}

.list-image {
  /* margin: auto; */
  width: 25%;
}

.single-advisor-profile {
  margin-top: 15px; 
  display: flex;
  flex-flow: row wrap;
  /* justify-content: center; */
  align-items: center;
  width: 350px;
}


.advisor {
  background-color: rgb(120, 43, 122);
  background-image: url(./images/math-patterns-bk.svg);
  background-blend-mode: overlay;
  background-size: cover;
  color: white;
}

/* Common flex wrapper */

.col-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}
.col-wrapper-advisor {
   /* border: 1px dashed lightgray; */
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}
.single-col {
  /* border: 1px dashed lightgray; */
  width: 215px;
  padding: 10px;
  margin: 0 10px;
}

.single-col-title {
  font-size: 0.9em;
  margin-bottom: 10px;
  text-align: center;
}

.job-title {
  /* border-top: 1px solid rgb(138, 17, 138); */
  border-bottom: 1px solid rgb(138, 17, 138);
  width: 170px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-style: italic;
  color: rgb(120, 43, 122)
}

footer {
  background-color:  rgb(50, 40, 89);
  text-align: left;
  color: white;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 35px 70px;
}

.footer-logo {
  margin: 10px;
  width: 200px;
}

.footer-msg {
  margin: 10px;
}

.copyright-msg {
  margin: 15px 0;
  font-size: 1em;
  color: lightslategray;
}

.email-us:hover {
  text-decoration: underline;
}

/* Mobile */
@media screen and (max-width: 1200px) {

  .mission-card {
    height: auto;
  }

  .problem-card {
    // height: auto;
  }

  .product-features {
    flex-flow: row wrap;
  }

  .product-msg {
    margin: 10px;
  }
  .problem-description {
    font-size: 1em;
  }
  .one-col-box {
    width: 100%;
  }
  .about {
    padding: 20px;
  }
  section {
    padding: 10px;
  }
  .card-wrapper,
  .card-wrapper-normal,
  .mission-card {
    width: 95%;
    padding: 20px;
  }
  h3 {
    font-size: 1em;
    line-height: 1.5;
  }

  .mobile-landing {
    font-size: 0.8em;
  }

  .list-image, .why-righton-list, .why-righton-wrapper {
    width: 100%;
    margin: 10px 0px;  
  }

  .why-righton-list {
    margin-top: -35px;
    padding: 10px;
    box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.35);
    background: white;
  }

  p {
    font-size: 0.85em;
    line-height: 1.4;
  }

  .list-description {
    font-size: 0.85em;
  }

  .footer {
    flex-direction: column-reverse;
    text-align: center;
    padding: 10px
  }

  .footer-msg {
    font-size: 0.95em;
  }

  .copyright-msg {
    font-size: 0.75em;
    color: lightslategray;
  }
}

@media screen and (max-width: 767px) {

  .mission-section {
    flex-flow: row wrap;
    flex-direction: column-reverse;
  }

  .mission-card {
    margin: -20px auto 20px auto;
    width: 100%;
    height: auto;
  }

  .problem {
    // margin: auto;
    // flex-flow: row wrap;
    // flex-direction: column-reverse;
  }

  .problem-card {
    margin: -20px auto 20px auto;
    width: 100%;
  }
}