.App {
  text-align: left;
  font-size: 16px;
  h1, h2, h3, h4 {
      font-weight: bold;
  }
  section {
    padding: 5%;
  }
}

button {
  all: unset;
}

a {
  text-decoration: none;
  color: white;
}

p {
  line-height: 1.4;
  font-weight: 300;
}



#quote {
  width: 80%;
  margin: 10% auto;
  text-align: center;
  font-style: italic;
}
.page-header { 
  background: #322759;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;
  overflow: visible;

  .righton-logo {
    padding: 5%;
    justify-content: left;
  }
  .header-element-4 {
    z-index: 5;
  }
  .header-elements{
    width: 100%; 
    // #header-element-1{
    //   background: url(./images/page-header-banner.svg);
    //   background-repeat: no-repeat;
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   bottom: 0;
    //   left: 0;
    //   z-index: 4;
    // }
    #header-element-2{
      position: absolute;
      background: url(./images/page-header-right-triangle.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
    }
    // #header-element-3{
    //   background: url(./images/page-header-right-triangle.svg);
    //   background-repeat: no-repeat;
    //   position: absolute;
    //   top: 15%;
    //   right: 0;
    //   bottom: 0;
    //   left: 85%;
    //   z-index: 2;
    // }
  }
}
.half-circle {
    padding: 2%; 
    margin-top: -5.5% !important; 
    width: 70%;
    border-bottom-right-radius: 800px;
    border-bottom-left-radius: 800px;
    border: 15px solid rgb(255, 51, 218);
    border-top: 0;
}

footer {
  background: top / cover no-repeat url(./images/footer-background-short.png);
  padding: 3% 8%;
  background-color:  rgb(50, 40, 89);
  color: white;
}

.divider {
  align-self: center;
  align-items: center;
  background: #FF3369;;
  height: 10px;
}