@import '/node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

.team-page-monsters {
    width: 100%;
    background: #322759;
    margin-top: -2%;
    margin-bottom: -7%;
    overflow: hidden;
    object-fit: contain;
    object-position: center;
    align-items: center;
    display: flex;
}

.team-page-monsters-mobile {
    display: none;
}

.advisor-header-center {
    font-family: Roboto;
    font-style: normal;
    border-bottom: 1px solid #fff;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    /* identical to box height */
    color: #FFFFFF;
}

.advisor-title-center {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

.advisor-header-side {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.advisor-title-side {
    font-weight: 500;
    font-size: 17px;
    line-height: 19px;
}

.advisor-header-edge {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.advisor-title-edge {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
}

.advisor-description-center {
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;

    color: #FFFFFF;
}

.advisor-description-side {
    font-family: Roboto;
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;

    color: #FFFFFF;
}

.advisor-description-edge {
    font-family: Roboto;
    font-style: normal;
    font-size: 12px;
    font-weight: 390;
    line-height: 15px;

    color: #FFFFFF;
}

.advisor-card-center {
    width: 370px;
    height: 690px;
    perspective: 1px;
    align-items: center;
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25)
}

.advisor-card-side {
    width: 322px;
    height: 600px;
    perspective: 1px;
    align-items: center;
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25)
}

.advisor-card-edge {
    width: 273px;
    height: 510px;
    align-items: center;
    perspective: 1px;
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25)
}

@media screen and (max-width: 2000px) {

    .css-1f8sh1y {
        width: 1450px !important;
        height: 700px !important;
    }

    .small-advisors {
        display: none;
    }

    .smallest-advisors {
        display: none;
    }

    .medium-advisors {
        display: none;
    }

    .largest-advisors {
        display: block;
    }

    .large-advisors {
        display: none;
    }

    .team-page-intros {
        margin-top: 55px;
        margin-bottom: 55px;
        text-align: center;
    }

    .team-page-banners {
        font-family: "filson-pro";
        font-style: normal;
        font-size: 64px;
        font-weight: 700;
        line-height: 84px;
        letter-spacing: 0em;
        text-align: center;
        color: white;

    }

    .team-page-banners-underline {
        width: 550px;
        border: 3.5px solid #E29B5D;
        opacity: 1;
        justify-content: center;
    }

    /*team-page-profile-cards*/

    .flip-card-outer {
        perspective: 1000px;
        width: 300px;
        height: 400px;
        margin: 25px, 0;
        margin-right: 5px;
        margin-left: 5px;

        .flip-card-inner {
            transform-style: preserve-3d;
            transition: .5s linear .1s;
            position: relative;
            width: inherit;
            height: inherit;

            .flip-card-outer:focus {
                outline: none !important;
            }

            .flip-card-outer:active {
                outline: none !important;
            }

            &.showBack {
                transform: rotateY(180deg);
            }

            .card {
                backface-visibility: hidden;
                position: absolute;

                width: 100%;
                height: 100%;
                background-color: #322759;

                border: none;

                &.front {
                    transform: rotateY(0);
                }

                &.back {
                    transform: rotateY(180deg);

                }
            }
        }

    }
}

@media screen and (max-width: 1590px) {

    .css-1f8sh1y {
        width: 1300px !important;
        height: 700px !important;
    }

    .largest-advisors {
        display: none;
    }

    .large-advisors {
        display: block;
    }

    .medium-advisors {
        display: none;
    }

    .small-advisors {
        display: none;
    }

    .smallest-advisors {
        display: none;
    }
}

@media screen and (max-width: 1400px) {

    .css-1f8sh1y {
        width: 1000px !important;
        height: 700px !important;
    }

    .largest-advisors {
        display: none;
    }

    .large-advisors {
        display: none;
    }

    .medium-advisors {
        display: block;
    }

    .small-advisors {
        display: none;
    }

    .smallest-advisors {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .team-page-intros {
        margin-top: 35px;
        margin-bottom: 45px;
    }

    .team-page-banners {
        font-family: "filson-pro";
        font-size: 34px;
        font-weight: 700;
        line-height: 84px;
        letter-spacing: 0em;
        text-align: center;
        color: white;
    }

    .team-page-banners-underline {
        justify-content: center;
        width: 300px;
        border: 3px solid #E29B5D;
        opacity: 1;
        margin-top: -4px;
    }

    .flip-card-outer {
        perspective: 1000px;
        width: 300px;
        height: 400px;
        margin: 10px, 0;
        margin-right: 1px;
        margin-left: 1px;


        .flip-card-outer:focus {
            outline: none !important;
        }

        .flip-card-outer:active {
            outline: none !important;
        }


        .flip-card-inner {
            transform-style: preserve-3d;
            transition: .5s linear .1s;
            position: relative;
            width: inherit;
            height: inherit;


            &.showBack {
                transform: rotateY(180deg);
            }

            .card {
                backface-visibility: hidden;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #322759;
                border: none;


                &.front {
                    transform: rotateY(0);
                }

                &.back {
                    transform: rotateY(180deg);

                }

            }
        }

    }
}

@media screen and (max-width: 1080px) {
    .css-1f8sh1y {
        width: 750px !important;
        height: 700px !important;
    }

    .largest-advisors {
        display: none;
    }

    .large-advisors {
        display: none;
    }

    .medium-advisors {
        display: none;
    }

    .small-advisors {
        display: block;
    }

    .smallest-advisors {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .css-1f8sh1y {
        width: 400px !important;
        height: 700px !important;
    }

    .largest-advisors {
        display: none;
    }

    .large-advisors {
        display: none;
    }

    .medium-advisors {
        display: none;
    }

    .small-advisors {
        display: none;
    }

    .smallest-advisors {
        display: block;
    }
}

@media screen and (max-width: 430px) {
    .css-1f8sh1y {
        width: 310px !important;
        height: 810px !important;
    }

    .advisor-card-center {
        width: 300px;
        height: 810px;
        perspective: 1px;
        align-items: center;
        border-radius: 30px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25)
    }

    .team-page-monsters {
        display: none;
    }

    .team-page-monsters-mobile {
        display: block;
        margin-top: 35%;
        width: 100%;
        margin-bottom: -30%;
        background: #322759;
    }
}